<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.szczecin.englishtamagotchi">

    <application
        android:name=".app.EnglishTamagochiApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true" >
        <activity
            android:name=".view.learning.OrdinaryCardActivity"
            android:label="@string/title_activity_ordinary_card"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.OrdinaryCardChoiceActivity"/>
        <activity android:name=".view.learning.WordsWritingActivity"/>
        <activity android:name=".view.learning.BindWordsActivity"/>
        <activity android:name=".view.common.CommonWordsActivity"/>
        <activity android:name=".view.know.KnowTableActivity"/>
        <activity android:name=".view.learn.LearnTableActivity"/>
        <activity android:name=".view.learning.LearningActivity"/>
        <activity android:name=".view.repeat.RepeatActivity"/>
    </application>

</manifest>